@tailwind base;
@tailwind components;
@tailwind utilities;


#home-rapper{
    background-image: url(/public/images/IMAGE.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}